/*General*/
body {
background: #DDDDDD;
}
a {
color: rgb(0, 209, 178);
}
/*Make footer sticky*/
.site {
display: flex;
min-height: 100vh;
flex-direction: column;
}
.wrapper {
flex: 1;
}
/*Navbar and hero*/
img.logo{
height: 60px;
}
.navbar-brand {
font-weight: bold;
text-transform: uppercase;
}
.hero-body .is-size-1 {
font-weight: bold;
text-transform: uppercase;
}
#title:hover{
color:rgb(74, 74, 74);
}
/*Articles*/
.articles {
padding: 5em 1em 0em 1em;
}
/*Plugins in sidebar*/
.sidebar {
border-left: solid 1px grey;
margin: 0.5em;
padding: 0 1em;
}
.plugin-label {
text-transform: uppercase;
font-weight: bold;
padding: 0.5em;
}
.plugin {
padding: 0 0.5em;
}
/*Posts on homepage*/
.posts {
flex-wrap: wrap;
margin: auto;
}
.card {
height: 100%;
}
/*Pagination*/
.pagination {
padding: 3.5em 0.5em;
}
/*Footer*/
footer {
background: #fafafa;
margin-top: 3em;
}